@use "_variables" as *;
@use "_placeholder" as *;


.main__about {
  h2 {
    padding: $padding-h2;
  }

  img {
    width: 25rem;
    margin-top: $margin;
  }
}

@media screen and (min-width: 800px) {
  .main__about {
    display: grid;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 100px);

    p {
      grid-column: 1 / 2;
    }

    img {
      grid-column: 2 / 3;
      grid-row-start: 4;
      justify-self: center;
    }
  }
}
