@use "_variables" as *;
@use "_placeholder" as *;


.header__logo a {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: $heading-font;
  color: $neutral-color-dark;
  text-decoration: none;
  &:hover {
    color: $accent-color;
  }

  h1 {
    font-size: 3rem;
  }
}

header {
  display: flex;
  align-items: center;
}

.header__link-about a {
  position: fixed;
  top: 10px;
  left: 5px;
  @extend %linkStyle;
}

//linear gradient on header and footer//
header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to bottom, $secondary-color, rgba(0, 0, 0, 0));
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
}

//Hamburger Menu//
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: $hamburger-gap;
  width: max-content;
  position: absolute;
  top: $hamburger-margin;
  left: $hamburger-margin;
  z-index: 2;
  cursor: pointer;
  margin-top: 1rem;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: $bar-width;
  height: $bar-height;
  background-color: $neutral-color-dark;
  border-radius: 1000px;
  transform-origin: left center;
}

//checkbox//
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

//animation for crossing lines //
.hamburger-menu:has(input:checked)::before {
  //if hamburger menu has a checked input field then select before element//
  rotate: 45deg;
  width: $x-width;
  translate: 0 calc($bar-height / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: $x-width;
  translate: 0 calc($bar-height / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  translate: -100%;
  transition: $animation-timing;
  padding: 0.5rem 1rem;
  padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
  background-color: $contrast-color;
  width: 100vw;
  min-height: 15vh;

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: $primary-color;
      text-decoration: none;
      margin: $margin;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

@media screen and (min-width: 800px) {
  .hamburger-menu,
  .hamburger-menu::after,
  .hamburger-menu::before,
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .header__link-about a {
    display: none;
  }
}
