@use "_variables" as *;
@use "_placeholder" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: $primary-font;
}

// Header Style

// header {
//   width: 100%;
//   padding: 0.5rem;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 5rem;
//   position: fixed;
//   top: 0;
//   z-index: 1000;

//   .header__logo a {
//     font-family: $heading-font;
//     color: $neutral-color-dark;
//     text-decoration: none;
//   }

//   .header__link-about a {
//     @extend %linkStyle;
//   }
// }

.header__logo a {
  position: fixed;
  top: 10px;
  right: 10px;
  font-family: $heading-font;
  color: $neutral-color-dark;
  text-decoration: none;
  &:hover {
    color: $accent-color;
  }

  h1 {
    font-size: 3rem;
  }
}

header {
  display: flex;
  align-items: center;
}
.header__link-about a {
  position: fixed;
  top: 10px;
  left: 5px;
  @extend %linkStyle;
}

header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: $hamburger-gap;
  width: max-content;
  position: absolute;
  top: $hamburger-margin;
  left: $hamburger-margin;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  color: white;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: $bar-width;
  height: $bar-height;
  background-color: black;
  border-radius: 1000px;
  transform-origin: left center;
  // transition: opacity $animation-timing width $animation-timing, rotate $animation-timing; translate: $animation-timing;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: $x-width;
  translate: 0 calc($bar-height / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: $x-width;
  translate: 0 calc($bar-height / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  translate: -100%;
  transition: $animation-timing;
  padding: 0.5rem 1rem;
  padding-top: calc($hamburger-height + $hamburger-margin + 1rem);
  background-color: $contrast-color;
  max-width: 20rem;
  min-height: 100vh;

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: $primary-color;
      text-decoration: none;
      margin-top: 2rem;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

@media screen and (min-width: 600px) {
  .hamburger-menu,
  .hamburger-menu::after,
  .hamburger-menu::before,
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header__link-about a {
    display: none;
  }
}
