@use "_variables" as *;


//Link Style
%linkStyle {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3rem 1rem;
  color: $neutral-color-dark;
  font-weight: 600;

  &:hover {
    color: $accent-color;
  }
}
