// Colors
$primary-color: #f2ffb5;
$primary-color-transparent: #f1ffb582;
$secondary-color: #32213a;
$secondary-color-transparent: #32213a7e;
$accent-color:  #ff8345;
$accent-color-transparent: #e57a448c;
$contrast-color: #383b53;
$contrast-color-transparent: #383b5367;

$neutral-color: #66717e;
$neutral-color-light: #f5f5f5;
$neutral-color-dark: #393e41ff;


// Fonts
$primary-font: "Open Sans", sans-serif;
$heading-font: "Namdhinggo", serif;

// Spacing
$padding-h2: 1rem 0;
$margin: 1rem;

// Burger variables
$bar-width: 40px;
$bar-height: 7px;
$hamburger-gap: 6px;
$hamburger-margin: 5px;
$animation-timing: 400ms ease-in-out;
$hamburger-height: calc(($bar-height) * 3 + ($hamburger-gap) * 2);
$x-width: calc(($hamburger-height) * 1.41421356237);



